setenv UPLOADDIR		/export/upload
setenv MGD_BACKUP		${UPLOADDIR}/mgd.noprivate.postgres.dump
setenv SNP_BACKUP		${UPLOADDIR}/snp.postgres.dump
setenv BACKUP_FLAG		${UPLOADDIR}/postgres.dump.flag

setenv RETRIES			120
setenv WAIT_TIME		300
setenv SWAP_ATTEMPTS		24

setenv PROCESSES		4

setenv PG_DBUSER		mgd_dbo
setenv PGPASSFILE		${HOME}/.pgpass

setenv PG_CONNECT_DB		postgres
setenv PG_ACTIVE_DB		mgd
setenv PG_INACTIVE_DB		mgd_load
setenv PG_TEMP_DB		mgd_temp

setenv PATH			/usr/bin:/bin:/usr/local/postgres/bin
