setenv UPLOADDIR	/export/upload
setenv BACKUP_FILE	${UPLOADDIR}/mgd.postgres.dump
setenv BACKUP_FLAG	${UPLOADDIR}/mgd.postgres.flag

setenv RETRIES		120
setenv WAIT_TIME	300
setenv SWAP_ATTEMPTS	24

setenv PROCESSES	4

setenv PGMGD_DBUSER	mgd_dbo
setenv PGPASSFILE	`pwd`/.pgpass

setenv PGMGD_CONNECT_DB		postgres
setenv PGMGD_ACTIVE_DB		mgd
setenv PGMGD_INACTIVE_DB	mgd_load
setenv PGMGD_TEMP_DB		mgd_temp

setenv PATH		/usr/bin:/bin:/usr/local/postgres/bin
